   <div class="login-container" ng-controller="LoginCtrl">
        <div class='row'>  
          <h3>PureBox</h3>
          <br />
          <div class="col-md-12">
              <form role="form">
                  <p>
                    <label for="loginEmail">Email</label><br />
                    <input id="loginEmail" required name="email" type="email" ng-model="email" placeholder-="Email" />
                  </p>
                  <p>
                    <label for="loginPass">Password</label><br />
                    <input id="loginPass" required name="pass" type="password" ng-model="pass" />
                  </p>
                  <p>
                   <button class="pleaseWork btn" onclick="villagePark()">Click Me</button>
                  </p>
                  <p>
                    <button class="pleaseWork" ng-click="passwordLogin(email, pass)" ng-hide="createMode">Log In</button>
                  </p>
                  <p ng-show="err" class="error">{{err}}</p>
              </form>
          </div>    
          <div class="col-md-12">
            <fieldset>
              <p>
                <br />
                <img src="../images/fb-button.png" width="300" style="text-align: center;" ng-click="oauthLogin('facebook')"><br />
                <!--a ng-click="createMode = true" ng-hide="createMode">Sign up for a new account</a--><br />
                <a href="subscribe.html">Subscribe to Pure Box</a>
                <!--button  ng-click="oauthLogin('google')">Sign in with Google</button><br />
                <button  ng-click="oauthLogin('twitter')">Sign in Twitter</button-->
              </p>
            </fieldset>
          </div>    
        </div>
    </div>