<body ng-cloak>
    <div class="how-it-works banner">
        <div class="sub">

        </div>
    </div>
    <div class="container">
        <div class="col-md-4 center">
            <h2>PURE<br />ANTICIPATION</h2> A curated selection of the world’s purest, most innovative beauty products. Revolutionize your beauty care with the box that’s as pure as it is powerful. Harness nature’s power with Pure Box for skin that’s radiant and unmistakably healthy.
        </div>
        <div class="col-md-4 center">
            <h2>PURE<br />CUSTOMIZATION</h2> A curated selection of the world’s purest, most innovative beauty products. Revolutionize your beauty care with the box that’s as pure as it is powerful. Harness nature’s power with Pure Box for skin that’s radiant and unmistakably healthy.
        </div>
        <div class="col-md-4 center">
            <h2>PURE<br />LOVE</h2> A curated selection of the world’s purest, most innovative beauty products. Revolutionize your beauty care with the box that’s as pure as it is powerful. Harness nature’s power with Pure Box for skin that’s radiant and unmistakably healthy.
        </div>
        <div class="col-md-12 center">
            <h2>PLAN</h2>
        </div>
        <div class="row">
            <div class="col-md-3 plan-title">
                MONTHLY
                <br />PLAN
            </div>
            <div class="col-md-3 plan-title">
                3 MONTH
                <br />PLAN
            </div>
            <div class="col-md-3 plan-title">
                6 MONTH
                <br />PLAN
            </div>
            <div class="col-md-3 plan-title">
                YEARLY
                <br />PLAN
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 plan-cost">
                $40
            </div>
            <div class="col-md-3 plan-cost">
                $120
            </div>
            <div class="col-md-3 plan-cost">
                $275
            </div>
            <div class="col-md-3 plan-cost">
                $300
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 plan-cost">
                <a href="#">Add to Cart</a>
            </div>
            <div class="col-md-3 plan-cost">
                <a href="#">Add to Cart</a>
            </div>
            <div class="col-md-3 plan-cost">
                <a href="#">Add to Cart</a>
            </div>
            <div class="col-md-3 plan-cost">
                <a href="#">Add to Cart</a>
            </div>
        </div>
    </div>
</body>